.Wrapper__cards
  .Contents
    .Contents__title
      クレジットカード情報入力
    .Contents__card
      .Contents__card__name
        .Contents__card__name--text
          カード番号
        .Contents__card__name--must
          必須
      %input.Contents__card--input{ name: :card, placeholder: :"半角英数字のみ", type: :card, value: :"" }/
      .Contents__card__picture
        =image_tag "/assets/visa.svg", class: "Contents__card__picture__phot"
        =image_tag "/assets/master-card.svg", class: "Contents__card__picture__phot"
        =image_tag "/assets/saison-card.svg", class: "Contents__card__picture__phot"
        =image_tag "/assets/jcb.svg", class: "Contents__card__picture__phot"
        =image_tag "/assets/american_express.svg", class: "Contents__card__picture__phot"
        =image_tag "/assets/dinersclub.svg", class: "Contents__card__picture__phot"
        =image_tag "/assets/discover.svg", class: "Contents__card__picture__phot"

      .Contents__date__name
        .Contents__date__name--text
          有効期限
        .Contents__date__name--must
          必須
      .Contents__date__name--select
        %select{name: :'date', class: "Contents__date__name--select__num"}
          %option{label: :"01", value: :"" }
          %option{label: :"02", value: :"" }
          %option{label: :"03", value: :"" }
          %option{label: :"04", value: :"" }
          %option{label: :"05", value: :"" }
          %option{label: :"06", value: :"" }
          %option{label: :"07", value: :"" }
          %option{label: :"08", value: :"" }
          %option{label: :"09", value: :"" }
          %option{label: :"10", value: :"" }
          %option{label: :"11", value: :"" }
          %option{label: :"12", value: :"" }
        月

        %select{name: :'date', class: "Contents__date__name--select__num"}
          %option{label: :"20", value: :"" }
          %option{label: :"21", value: :"" }
          %option{label: :"22", value: :"" }
          %option{label: :"23", value: :"" }
          %option{label: :"24", value: :"" }
          %option{label: :"25", value: :"" }
          %option{label: :"26", value: :"" }
          %option{label: :"27", value: :"" }
          %option{label: :"28", value: :"" }
          %option{label: :"29", value: :"" }
          %option{label: :"30", value: :"" }
        日

      .Contents__card__name
        .Contents__card__name--text
          セキュリティコード
        .Contents__card__name--must
          必須
      %input.Contents__card--input{ name: :card, placeholder: :"カード背面4桁もしくは3桁の番号", type: :card, value: :"" }/

    .Contents__Exhibition
      .Contents__Exhibition__btn
        = link_to "追加する", "#", class: "Contents__Exhibition__btn--btn"
