.Box
  .Header
    furima
  .Main
    .CreateUser
      新規会員登録
    %ul.Contents
      %li.EmailCreate
        =link_to "#" do
          .EmailCreate--font
            メールアドレスで登録する
      %li.FacebookCreate
        =link_to "#" do
          .FacebookCreate--font
            Facebookで登録する
      %li.GoogleCreate
        =link_to "#"  do
        
          .GoogleCreate--font
            Googleで登録する
  .Footer
    ここはfooterの位置