.Footer
  .MainRowDl
    .RowDLInner
      .InnerTitle
        だれでもかんたん、人生を変えるフリマアプリ
      .InnerText
        今すぐ無料ダウンロード！
    .RowDlBtn
      = link_to image_tag("app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", class:"MainRowDlBtnA"),root_path
      = link_to image_tag("google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", class:"MainRowDlBtnG"),root_path

  .__footerContents
    .--aboutFurima
      .__title
        FURIMAについて
      %ul
        %li
          =link_to '会社概要（運営会社）', '#'
        %li
          =link_to 'プライバシーポリシー', '#'
        %li
          =link_to 'FURIMA利用規約', '#'
        %li
          =link_to 'ポイントに関する特約', '#'

    .--viewFurima
      .__title
        FURIMAを見る
      %ul
        %li
          =link_to 'カテゴリー一覧', '#'
        %li
          =link_to 'ブランド一覧', '#'

    .--helpandGuide
      .__title
        ヘルプ＆ガイド
      %ul
        %li
          =link_to 'FURIMAガイド', '#'
        %li
          =link_to 'FURIMAロゴ利用ガイドライン', '#'
        %li
          =link_to 'お知らせ', '#'

  .__footerLogo
    =image_tag 'logo/logo-white.png', class:'--logoImage'
    .--copyright
      © FURIMA