.Footer
  .__footerContents
    .--aboutFurima
      .__title
        FURIMAについて
      %ul
        %li
          =link_to '会社概要（運営会社）', '#'
        %li
          =link_to 'プライバシーポリシー', '#'
        %li
          =link_to 'FURIMA利用規約', '#'
        %li
          =link_to 'ポイントに関する特約', '#'

    .--viewFurima
      .__title
        FURIMAを見る
      %ul
        %li
          =link_to 'カテゴリー一覧', '#'
        %li
          =link_to 'ブランド一覧', '#'

    .--helpandGuide
      .__title
        ヘルプ＆ガイド
      %ul
        %li
          =link_to 'FURIMAガイド', '#'
        %li
          =link_to 'FURIMAロゴ利用ガイドライン', '#'
        %li
          =link_to 'お知らせ', '#'

  .__footerLogo
    =image_tag 'logo/logo-white.png', class:'--logoImage'
    .--copyright
      © FURIMA