
.WrapperEdit {
  height: calc(100% - 350px);
  width: 100%;
  background-color: #efefef;
  position: relative;
  
  
  //_______________________________________________________
  
    .EditLogo {
      height: 200px;
      width: 100%;
      text-align: center;
      line-height: 200px;
      font-size: xx-large;
  
      &__png {
        height: 60px;
      }
    }
  
  //_______________________________________________________
  
    .EditContents {
      height: 2350px;
      width: 50%;
      background-color: white;
      margin: 0 auto;
      
      &__title {
        height: 150px;
        width: 100%;
        text-align: center;
        border-bottom: 0.2px solid lightgrey;
        line-height: 150px;
        font-size: x-large;
        font-weight: bold;
      }
  
      &__image {
        height: 300px;
        width: 100%;
  
        &__title {
            padding-top: 20px;
            margin-left: 30px;
  
          &--text {
              font-size: 15px;
              font-weight: bold;
          }
          &--must {
              color: white;
              background-color: #3CCACE;
              font-size: 5px;
              font-weight: bold;
              border-radius: 2px;
              padding: 4px;
              margin-left: 10px;
          }
        }
        &__capture {
          font-size: 10px;
          margin-left: 30px;
          margin-top: 5px;
        }
        &__upload {
          height: 200px;
          width: 80%;
          margin: 0 auto;
          background-color: rgb(246, 246, 250);
          border:  dashed 1px rgb(182, 182, 182);
          cursor: pointer;
          text-align: center;
          line-height: 200px;
          
          i {
            cursor: pointer;
            color: gray;
            font-size: 20px;
          }
          &--cameraBtnUpper {
            font-size: 80px;
            color: gray;
            margin: 0 auto;
          }
          &--cameraBtnDowner {
            font-size: 80px;
            color: gray;
            margin: 0 auto;
          }
        }
        #error_explanation {
          color: red;
        }
      }
      &__name {
        height: 300px;
        width: 100%;
  
        &__form {
          padding-top: 20px;
          margin-left: 30px;
  
          &--text {
            font-size: 15px;
            font-weight: bold;
          }
          &--must {
            color: white;
            background-color: #3CCACE;
            font-size: 5px;
            font-weight: bold;
            border-radius: 2px;
            padding: 4px;
            margin-left: 10px;
            width: 30px;
          }     
        }
        &--input {
            height: 50px;
            width: 85%; 
            line-height: 50px;
            padding-left: 30px;
            margin-top: 15px;
            margin-left: 30px;
            border: 1px solid lightgrey;
            border-radius: 3px;
            font-size: 15px;
            
        }
        
        &__description {
          padding-top: 20px;
          margin-left: 30px;
  
          &--text {
            font-size: 15px;
            font-weight: bold;
          }
          &--must {
            color: white;
            background-color: #3CCACE;
            font-size: 5px;
            font-weight: bold;
            border-radius: 2px;
            padding: 4px;
            margin-left: 10px;
            width: 30px;
          }
        }
        &--input-big{
          height: 120px;
          width: 88.5%; 
          padding-left: 5px;
          margin-top: 15px;
          margin-left: 30px;
          border: 1px solid lightgrey;
          border-radius: 3px;
          font-size: 10px;
          position: relative;
        }
      }
      &__detail {
        height: 500px;
        width: 100%;
        display: flex;
        
      
        &__title {
          height: 200px;
          width: 30%;
          
  
          &--text {
            font-weight: bold;
            font-size: 13px;
            color: rgba(70, 66, 66, 0.356);
            margin-top: 30px;
            margin-left: 33px;
            
            
          }
        }
        &__list {
          height: 200px;
          width: 70%;
        
          
          &__category {
            padding-top: 20px;
            margin-left: 30px;
  
            &--text {
              font-size: 13px;
              font-weight: bold;
            }
            &--must {
              color: white;
              background-color: #3CCACE;
              font-size: 5px;
              font-weight: bold;
              border-radius: 2px;
              padding: 3px;
              margin-left: 10px;
            }
          }
          &__brand {
            padding-top: 20px;
            margin-left: 30px;
          
  
            &--text {
              font-size: 13px;
              font-weight: bold;
            }
            &--any {
              color: white;
              background-color:lightgray;
              font-size: 5px;
              font-weight: bold;
              border-radius: 2px;
              padding: 3px;
              margin-left: 10px;
            }
            &--input {
              height: 50px;
              width: 90%; 
              line-height: 50px;
              padding-left: 30px;
              margin-top: 15px;
              border: 1px solid lightgrey;
              border-radius: 3px;
              font-size: 15px;
            }
          }
    
  
          &__status {
            padding-top: 20px;
            margin-left: 30px;
  
            &--text {
              font-size: 13px;
              font-weight: bold;
            }
            &--must {
              color: white;
              background-color: #3CCACE;
              font-size: 5px;
              font-weight: bold;
              border-radius: 2px;
              padding: 3px;
              margin-left: 15px;
            }
          }
          &--input {
            margin-top: 10px;
            height: 40px;
            width: 315px;
          
            display: block;
            padding-right: 140px;
            border-radius: 2px;
          }
        }
      }
      &__delivery {
        height: 350px;
        width: 100%;
        display: flex;
  
        &__title {
          height: 100%;
          width: 30%;
          display: flex;
  
          &--text {
            font-weight: bold;
            font-size: 13px;
            color: rgba(70, 66, 66, 0.356);
            margin-top: 30px;
            margin-left: 33px;
          }
          &--icon {
            margin-top: 30px;
            color: deepskyblue;
          }
        }
  
        &__category {
          height: 100%;
          width: 70%;
  
          &__burden {
            padding-top: 20px;
  
            &--text {
              font-size: 13px;
              font-weight: bold;
            }
            &--must {
              color: white;
              background-color: #3CCACE;
              font-size: 5px;
              font-weight: bold;
              border-radius: 2px;
              padding: 3px;
              margin-left: 10px;
            }
          }
  
          &__area {
            padding-top: 20px;
  
            &--text {
              font-size: 13px;
              font-weight: bold;
            }
            &--must {
              color: white;
              background-color: #3CCACE;
              font-size: 5px;
              font-weight: bold;
              border-radius: 2px;
              padding: 3px;
              margin-left: 10px;
            }
          }
          &__date {
            padding-top: 20px;
  
            &--text {
              font-size: 13px;
              font-weight: bold;
            }
            &--must {
              color: white;
              background-color: #3CCACE;
              font-size: 5px;
              font-weight: bold;
              border-radius: 2px;
              padding: 3px;
              margin-left: 10px;
            }
          }
        }
      }
      &__price {
        height: 300px;
        width: 100%;
        border-bottom: 0.2px solid lightgrey;
        display: flex;
        
        &__title {
          height: 100%;
          width: 33%;
          display: flex;
  
          &--text {
            font-weight: bold;
            font-size: 13px;
            color: rgba(70, 66, 66, 0.356);
            margin-top: 30px;
            margin-left: 33px;
          }
          &--icon {
            margin-top: 30px;
            color: deepskyblue;
          }
        }
  
        &__right {
          height: 100%;
          width: 67%;
        
  
          &__category {
            height: 40%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            
            &__list {
              display: flex;
              height: 20px;
              margin-top: 50px;
          
              
              
  
              &--text {
                font-size: 13px;
                font-weight: bold;
                padding-top: 2px;
              }
  
              &--must {
                height: 30px;
                color: white;
                background-color: #3CCACE;
                font-size: 5px;
                font-weight: bold;
                border-radius: 2px;
                padding: 0 3px;
                margin-left: 10px;
              }
            }
            &__form {
              display:flex;
              margin-top: 40px;
              margin-right: 30px;
              
            
              &--text {
                font-size: 10px;
                margin-right: 20px;
                margin-top: 16px;
              }
              &--field {
                height: 40px;
                text-align: right;
                padding-right: 20px;
              }
            
            }
          &__commission {
            height: 20%;
            width: 100%;
            border-bottom: 0.2px solid lightgrey;
            border-top: 0.2px solid lightgrey;
            display: flex;
            justify-content: space-between;
          
  
            &--text {
            margin-top: 20px;
            font-size: 13px;
            }
            &--rod {
            margin-top: 15px;
            }
          }
  
          &__profit {
            height: 40%;
            width: 100%;
            display: flex;
            justify-content: space-between;
  
            &--text {
              font-weight: bold;
              margin-top: 20px;
            }
            &--rod {
              margin-top: 18px;
            }
          }
        
        }
      }
      }
      
      &__Exhibition {
        height: 350px;
        width: 100%;
  
        &__text {
          padding-top: 50px;
          padding-left: 40px;
        
          &--link {
            text-decoration: none;
            color: deepskyblue;
            position: relative;
  
            &::after {
              position: absolute;
              content: '';
              bottom: 0;
              left: 0;
              width: 0;
              height: 1px;
              background: deepskyblue;
              transition: all 0s ease 0s;
            }
  
            &:hover {
              cursor: pointer;
              opacity: 0.6;
            }
            &:hover::after { 
              width: 100%;
            }
          }
        }
        &__btn{
            margin-top: 50px;
            text-decoration: none;
            width: 80%;
            margin-left: 80px;
            padding: 15px 50px;
            background-color: red;
            color: white;

            &--return {
            height: 50px;
            width: 300px;
            font-size: 14px;
            text-decoration: none;
            color: white;
            background-color: rgb(148, 145, 145);
            text-align: center;
            line-height: 50px;
            display: block;
            margin: 30px auto 0;
            transition: all 0.3s ease 0s;
    
            &:hover {
                opacity: 0.6;
            }
            }
        }
      }
    }
  }
   
  
  
  
  //_________________________________________________________
  
  
  
  //--------------------------------------------------------index
  
  h1 {
    color: red;
    text-align: center;
    margin-top: 100px;
  }
  
  .new {
    text-decoration: none;
    color: deepskyblue;
    font-size: 20px;
    margin-left: 700px;
    cursor: pointer;
  }
  
  .return {
    text-decoration: none;
    color: deepskyblue;
    font-size: 20px;
    margin-left: 700px;
    cursor: pointer;
  }
  
  .contents {
    height: 100%;
    width: 700px;
    border: 1.5px solid blue;
    margin: 0 auto;
  }
  
  .form {
    margin: 8px 0 0;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    font-size: 16px;
    font-weight: 100;
    .select-default {
      box-sizing: border-box;
      width: 90%;
      height: 50px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      background: #fff;
      cursor: pointer;
      
      &:hover {
        opacity: 0.7;
      }
    }
    #item_area{
      box-sizing: border-box;
      width: 90%;
      height: 50px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      background: #fff;
      cursor: pointer;
      
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .relative {
    position: relative;
    .icon {
      position: absolute;
      top: 38%;
      right: 11%;
      z-index: 2;
      color: deeppink;
      cursor: pointer;
      font-size: 20px;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      background-color: white
    }
  }
  
  
  .post {
    text-decoration: none;
    width: 80%;
    margin-left: 80px;
    padding: 15px 50px;
    background-color: red;
    color: white;
  
  }
  
  .notification {
    color: white;
    text-align: center;  
  
    .notice {
      background-color: deeppink;
    }
  
    .alert {
      background-color: deepskyblue;
      font-size: xx-large;
    }
  }
  


    //_________________________________________________________





    #error_explanation {
      padding: 20px 150px;
    }
    
    #Input_error__edit__image{
      font-size: 15px;
      font-weight: normal;
      color: #FF4040;
      display: block;
      margin: 0;
      margin-left: 65px;
    }
    
    #Input_error__edit__itemname{
      font-size: 15px;
      font-weight: normal;
      color: #FF4040;
      display: block;
      margin: 0;
      margin-left: 30px;
    }
    
    #Input_error__edit__description{
      font-size: 15px;
      font-weight: normal;
      color: #FF4040;
      display: block;
      margin: 0;
      margin-left: 30px;
    }
    
    #Input_error__edit__category{
      font-size: 15px;
      font-weight: normal;
      color: #FF4040;
      display: block;
      margin: 0;
    }
    
    #Input_error__edit__status{
      font-size: 15px;
      font-weight: normal;
      color: #FF4040;
      display: block;
      margin: 0;
    }
    
    #Input_error__edit__charge{
      font-size: 15px;
      font-weight: normal;
      color: #FF4040;
      display: block;
      margin: 0;
    }
    
    #Input_error__edit__area{
      font-size: 15px;
      font-weight: normal;
      color: #FF4040;
      display: block;
      margin: 0;
    }
    
    #Input_error__edit__day{
      font-size: 15px;
      font-weight: normal;
      color: #FF4040;
      display: block;
      margin: 0;
    }
    
    #Input_error__edit__price{
      font-size: 15px;
      font-weight: normal;
      color: #FF4040;
      display: block;
      margin: 0;
      margin-left: 290px;
    }
    

