-bras.each do |bra|
  .ProductList
    %a
    = link_to item_path(bra.id) do
      %figure.ProductList--img
        = image_tag bra.images[0].picture.url
      .ProductList--body
        %h3.Name #{bra.name}
        .Details
          %ul
            %li #{bra.price}円
            %li
              %i.fa.fa-star.likeIcon
                0
          %p (税込)