= form_with url: pay_credit_cards_path do 
      :plain
      <script
        type="text/javascript"
        src="https://checkout.pay.jp/"
        class="payjp-button"
        data-key="pk_test_644a8aa181a75a93bd91254d"
        data-on-created="onCreated"
        data-text="クレジットカードを追加する"
        data-submit-text="追加する"
        data-partial="false">
      </script>
