* {
  box-sizing: border-box;
}

.Wrapper-my {
  color: #333;
  width: 100%;
  height: 100vh;
  background: #f5f5f5;
    font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
}

.Mypage {
  display: flex;
  justify-content: center;
  padding-top: 40px;

.Contents {
  height: 550px;
  width: 700px;
  background-color: white;
  margin: 0 auto;
  padding: 0px 40px 64px;

  &__title {
    height: 50px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
    line-height: 48px;
    font-size: x-large;
    font-weight: bold;
  }

  &__card {
    padding: 40px 40px 64px;

    &__name {
      display: flex;

      &--text {
        font-size: 14px;
        font-weight: bold;
      }
      &--must {
        color: white;
        background-color: #3CCACE;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
      }     
    }
    &--input {
        height: 50px;
        width: 430px; 
        line-height: 50px;
        padding-left: 30px;
        margin-top: 15px;
        margin-left: 30px;
        border: 1px solid lightgrey;
        border-radius: 3px;
        font-size: 14px;
    }

    &__picture {
      height: 30px;
      width: 20%;
      display: flex;
      margin-top: 15px;
      padding-left: 27px;
      &__phot {
        height: 18px;
        margin-right: 12px
      }
    }
  }

  &__date {
    height: 300px;
    width: 100%;
    border-bottom: 0.2px solid lightgrey;

    &__name {
      display: flex;
      padding-top: 20px;
      margin-left: 30px;

      &--text {
        font-size: 14px;
        font-weight: bold;
      }
      &--must {
        color: white;
        background-color: #3CCACE;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
      }     
    }
    &--input {
        height: 50px;
        line-height: 50px;
        padding-left: 30px;
        margin-top: 15px;
        margin-left: 30px;
        border: 1px solid lightgrey;
        border-radius: 3px;
        font-size: 14px;
    }
  }
  
  &__Exhibition {
    height: 350px;
    width: 100%;

    &__text {
      padding-top: 50px;
      padding-left: 40px;
    }
  &__btn{
      display: flex;
      flex-direction: column;
      margin-top: 30px auto;
      width: 350px;

  
    &--btn {
      width: 100%;
      height: 48px;
      font-size: 14px;
      text-decoration: none;
      color: white;
      background-color: #3CCACE;
      border: 1px solid #3CCACE;
      text-align: center;
      line-height: 50px;
      margin: 32px auto;
      cursor: pointer;
    }
   }
  }
 }
}

//_______________________________________________________


.Contents__date__name--select__num {
  height: 50px;
  width: 120px;
  margin-top: 10px;
  margin-left: 30px
}
