
.fas {
  display: none;
}

#image-box-1 {
  display: flex;
}
#image-box-1__edit{
  display: flex;
}





#previews {
  display: flex;
}

#image-box {
 display: flex;
 height: 200px;
 width: 80%;
 margin: 0 auto;
 background-color: rgb(246, 246, 250);
 border:  dashed 1px rgb(182, 182, 182);
 cursor: pointer;
 text-align: center;
 line-height: 200px;
}

.item-num-0{
  width: 100%;
}
.item-num-1{
  width: 491px;
}
.item-num-2{
  width: 363px;

}

.image_upload {
  height: 100px;
  width: 10px;
}
.input-area {
  height: 100px;
  width: 100px;
}


.preview {
 height: 114px;
 width: 114px;
}

.image-preview_btn {
 display: flex;
 width: 114px;
 justify-content: space-around;
 margin-top: 6px;
 color: deepskyblue;
 // font-size: large;
 background-color: #efefef;
}

// .image-preview_btn_edit{
//  cursor: pointer;
// }

.image-preview_btn_delete{
 cursor: pointer;
}

// .imageNew {
//  display: none;
// }

// input {
//  display: none;
// }

#camera {
 font-size: 20px;
}

// .js-file_group{
//  height: 2px;
//  width: 5px;
// }
.js-remove {
 
 color: deepskyblue;
 background-color: #efefef;

}