.hidden {
  display: none;
}

.fas {
  display: none;
}

#image-box-1 {
  display: flex;
}
#image-box-1__edit{
  display: flex;
}

.item-num-0{
  width: 100%;
}
.item-num-1{
  width: 491px;
}
.item-num-2{
  width: 363px;
}
.item-num-3{
  width: 234px;
}
.item-num-4{
  width: 106px;
}
//下段のfile_field
.item-num-5{
  width: 100%;
}
.item-num-6{
  width: 491px;
}
.item-num-7{
  width: 363px;
}
.item-num-8{
  width: 234px;
}
.item-num-9{
  width: 106px;
}

.item-image__operetion--delete {
  color: red;
  font-size: 12px;
  cursor: pointer;
}