.Wrapper {
  height: 350vh;
  width: 100%;
  background-color: rgb(246, 246, 250);
  position: relative;
}

//_______________________________________________________

.Logo {
  height: 200px;
  width: 100%;
  text-align: center;
  line-height: 200px;
  font-size: xx-large;

  &__png {
    height: 60px;
  }
}

//_______________________________________________________

.Contents {
  height: 2100px;
  width: 50%;
  background-color: white;
  margin: 0 auto;
  
  &__title {
    height: 150px;
    width: 100%;
    text-align: center;
    border-bottom: 0.2px solid lightgrey;
    line-height: 150px;
    font-size: x-large;
    font-weight: bold;
  }

  &__image {
    height: 300px;
    width: 100%;
    border-bottom: 0.2px solid lightgrey;

    &__title {
        display: flex;
        padding-top: 20px;
        margin-left: 30px;

      &--text {
          font-size: 15px;
          font-weight: bold;
      }
      &--must {
          color: white;
          background-color: #3CCACE;
          font-size: 5px;
          font-weight: bold;
          border-radius: 2px;
          padding: 4px;
          margin-left: 10px;
      }
    }
    &__capture {
      font-size: 10px;
      margin-left: 30px;
      margin-top: 5px;
    }
    &__up {
      height: 200px;
      width: 86%;
      margin-top: 10px;
      margin-left: 30px;
      background-color: rgb(246, 246, 250);
      border:  dashed 1px rgb(182, 182, 182);

      &__text {
        text-align: center;
        margin-top: 55px;
      }
    }

  }
  &__form {
    height: 300px;
    width: 100%;
    border-bottom: 0.2px solid lightgrey;

    &__name {
      display: flex;
      padding-top: 20px;
      margin-left: 30px;

      &--text {
        font-size: 15px;
        font-weight: bold;
      }
      &--must {
        color: white;
        background-color: #3CCACE;
        font-size: 5px;
        font-weight: bold;
        border-radius: 2px;
        padding: 4px;
        margin-left: 10px;
      }     
    }
    &--input {
        height: 50px;
        width: 85%; 
        line-height: 50px;
        padding-left: 30px;
        margin-top: 15px;
        margin-left: 30px;
        border: 1px solid lightgrey;
        border-radius: 3px;
        font-size: 15px;
        
    }
    
    &__description {
      display: flex;
      padding-top: 20px;
      margin-left: 30px;

      &--text {
        font-size: 15px;
        font-weight: bold;
      }
      &--must {
        color: white;
        background-color: #3CCACE;
        font-size: 5px;
        font-weight: bold;
        border-radius: 2px;
        padding: 4px;
        margin-left: 10px;
      }
    }
    &--input-big{
      height: 120px;
      width: 88.5%; 
      padding-left: 5px;
      margin-top: 15px;
      margin-left: 30px;
      border: 1px solid lightgrey;
      border-radius: 3px;
      font-size: 10px;
      position: relative;
    }
  }
  &__detail {
    height: 350px;
    width: 100%;
    border-bottom: 0.2px solid lightgrey;
    display: flex;
    
   
    &__title {
      height: 200px;
      width: 30%;
      

      &--text {
        font-weight: bold;
        font-size: 13px;
        color: rgba(70, 66, 66, 0.356);
        margin-top: 30px;
        margin-left: 33px;
        
        
      }
    }
    &__list {
      height: 200px;
      width: 70%;
     
      
      &__category {
        display: flex;
        padding-top: 20px;
        // margin-left: 30px;

        &--text {
          font-size: 13px;
          font-weight: bold;
        }
        &--must {
          color: white;
          background-color: #3CCACE;
          font-size: 5px;
          font-weight: bold;
          border-radius: 2px;
          padding: 3px;
          margin-left: 10px;
        }
      }
      &__brand {
        display: flex;
        padding-top: 20px;

        &--text {
          font-size: 13px;
          font-weight: bold;
        }
        &--any {
          color: white;
          background-color:lightgray;
          font-size: 5px;
          font-weight: bold;
          border-radius: 2px;
          padding: 3px;
          margin-left: 10px;
        }
        &--input {
          height: 50px;
          width: 85%; 
          line-height: 50px;
          padding-left: 30px;
          margin-top: 15px;
          border: 1px solid lightgrey;
          border-radius: 3px;
          font-size: 15px;
        }
      }
 

      &__status {
        display: flex;
        padding-top: 20px;
        // margin-left: 30px;

        &--text {
          font-size: 13px;
          font-weight: bold;
        }
        &--must {
          color: white;
          background-color: #3CCACE;
          font-size: 5px;
          font-weight: bold;
          border-radius: 2px;
          padding: 3px;
          margin-left: 10px;
        }
      }
      &--input {
        margin-top: 10px;
        height: 40px;
        width: 315px;
       
        display: block;
        padding-right: 140px;
        border-radius: 2px;
      }
    }
  }
  &__delivery {
    height: 350px;
    width: 100%;
    border-bottom: 0.2px solid lightgrey;
    display: flex;

    &__title {
      height: 100%;
      width: 30%;
      display: flex;

      &--text {
        font-weight: bold;
        font-size: 13px;
        color: rgba(70, 66, 66, 0.356);
        margin-top: 30px;
        margin-left: 33px;
      }
      &--icon {
        margin-top: 30px;
        color: deepskyblue;
      }
    }

    &__category {
      height: 100%;
      width: 70%;

      &__burden {
        display: flex;
        padding-top: 20px;

        &--text {
          font-size: 13px;
          font-weight: bold;
        }
        &--must {
          color: white;
          background-color: #3CCACE;
          font-size: 5px;
          font-weight: bold;
          border-radius: 2px;
          padding: 3px;
          margin-left: 10px;
        }
      }

      &__area {
        display: flex;
        padding-top: 20px;

        &--text {
          font-size: 13px;
          font-weight: bold;
        }
        &--must {
          color: white;
          background-color: #3CCACE;
          font-size: 5px;
          font-weight: bold;
          border-radius: 2px;
          padding: 3px;
          margin-left: 10px;
        }
      }
      &__date {
        display: flex;
        padding-top: 20px;

        &--text {
          font-size: 13px;
          font-weight: bold;
        }
        &--must {
          color: white;
          background-color: #3CCACE;
          font-size: 5px;
          font-weight: bold;
          border-radius: 2px;
          padding: 3px;
          margin-left: 10px;
        }
      }
    }
  }
  &__price {
    height: 300px;
    width: 100%;
    border-bottom: 0.2px solid lightgrey;
    display: flex;
    
    &__title {
      height: 100%;
      width: 33%;
      display: flex;

      &--text {
        font-weight: bold;
        font-size: 13px;
        color: rgba(70, 66, 66, 0.356);
        margin-top: 30px;
        margin-left: 33px;
      }
      &--icon {
        margin-top: 30px;
        color: deepskyblue;
      }
    }

    &__right {
      height: 100%;
      width: 67%;
    

      &__category {
        height: 40%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        &__list {
          display: flex;
          height: 20px;
          margin-top: 50px;
          
          

          &--text {
            font-size: 13px;
            font-weight: bold;
            padding-top: 2px;
          }

          &--must {
            color: white;
            background-color: #3CCACE;
            font-size: 5px;
            font-weight: bold;
            border-radius: 2px;
            padding: 3px;
            margin-left: 10px;
          }
          &--select {
            height: 100px;
          }
        }
        &__form {
          display:flex;
          margin-top: 40px;
          margin-right: 30px;
          
        
          &--text {
            font-size: 10px;
            margin-right: 20px;
            margin-top: 16px;
          }
          &--field {
            height: 40px;
            // border-radius: 2px;
            text-align: right;
            padding-right: 20px;
          }
        }
      }
      &__commission {
        height: 20%;
        width: 100%;
        border-bottom: 0.2px solid lightgrey;
        border-top: 0.2px solid lightgrey;
        display: flex;
        justify-content: space-between;
      

        &--text {
         margin-top: 20px;
         font-size: 13px;
        }
        &--rod {
         margin-top: 15px;
        }
      }

      &__profit {
        height: 40%;
        width: 100%;
        display: flex;
        justify-content: space-between;

        &--text {
          font-weight: bold;
          margin-top: 20px;
        }
        &--rod {
          margin-top: 18px;
        }
      }
    }
  }
  
  &__Exhibition {
    height: 350px;
    width: 100%;

    &__text {
      padding-top: 50px;
      padding-left: 40px;
    
      &--link {
        text-decoration: none;
        color: deepskyblue;
        position: relative;

        &::after {
          position: absolute;
          content: '';
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          background: deepskyblue;
          transition: all 0s ease 0s;
        }

        &:hover {
          cursor: pointer;
          opacity: 0.6;
        }
        &:hover::after { 
          width: 100%;
        }
      }
    }
  &__btn{
      display: flex;
      flex-direction: column;
      margin-top: 30px;
  
    &--btn {
      height: 50px;
      width: 550px;
      font-size: 14px;
      text-decoration: none;
      color: white;
      background-color: red;
      text-align: center;
      line-height: 50px;
      margin: 0 auto;
      cursor: pointer;
    }
    &--return {
      height: 50px;
      width: 300px;
      font-size: 14px;
      text-decoration: none;
      color: white;
      background-color: rgb(148, 145, 145);
      text-align: center;
      line-height: 50px;
      margin: 30px auto 0;
      transition: all 0.3s ease 0s;

      &:hover {
        opacity: 0.6;
      }
    }
   }
  }
 }

 



//_________________________________________________________

.Footer {
  height: 300px;
  width: 600px;
  margin: 0 auto;


  &__list {
    height: 70px;
    width: 70%;
    margin: 0 auto;
    padding-top: 60px;

    &--text {
      font-size: 11px;
      text-decoration: none;
      color: black;
      margin-left: 15px;
      margin-top: 20px;
      position: relative;
    
      &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background: darkblue;
        transition: all 0s ease 0s;
      }
      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
  &__logo {

    &--text {
      height: 40px;
      margin-left: 200px;

    &:hover {
      opacity: 0.6;
    }
  }

  }
  &--text {
    font-size: 10px;
    margin-left: 240px;
    margin-top: 10px;
  }
  
}

select {
  height: 50px;
  width: 460px;
  margin-top: 10px;
}