select::-ms-expand {
	display: none;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin-bottom: 20px;
	padding: 0 0 0 10px;
	font-size: 93%;
	line-height: 1.1em;
	border-radius: 5px;
	border: solid 1px rgb(220, 220, 220);
	background-image: url(./images/icon_arrow.svg);
	background-repeat: no-repeat;
	background-size: 12px 10px;
	background-position: right 10px center;
	background-color: #ffffff;
}

.select__form{
  height: 45px;
  width: 100px;
}

a {
  text-decoration: none;
}

.SideType{
  display: flex;
  align-items: center;
}

.red{
  height: 100%;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 5px;
  margin-left: 20px;
  border-radius: 3px;
}

.bold{
  font-weight: bold;
}

.Note{
  color: rgb(181, 181, 181);
}

.userBtn{
  background-color: red;
  color: white;
  height: 50px;
  width: 100%;
}

.Box{
  background-color: rgb(239, 239, 239);

  .userHeader{
    background-color: rgb(239, 239, 239);
    height: 128px;
    width: 100%;
    text-align: center;
    line-height: 128px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .Main{
    background-color: #fff;
    width: 700px;
    margin: 0 auto;

    .UserInputTitle{
      height: 90px;
      line-height: 90px;
      background-color: white;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      border-bottom: solid 1px rgb(239, 239, 239);
    }
    .Input{
        height: 100%;
        width: 400px;
        margin: 0 auto;

      &__nickname{
        margin: 20px 0;

        &__text{
          margin-bottom: 5px;
        }
        &__form{
          height: 45px;
          width: 100%;
          border-radius: 5px;
          border: solid 1px rgb(220, 220, 220);
        }
      }

      &__email{
        margin: 20px 0;

        &__text{
         margin-bottom: 5px;
       } 
       &__form{
        height: 45px;
        width: 100%;
        border-radius: 5px;
        border: solid 1px rgb(220, 220, 220);
       }
      }
      
      &__password{
        margin: 20px 0;

        &__text{
          margin-bottom: 5px;
        }
        &__form{
          height: 45px;
          width: 100%;
          border-radius: 5px;
          border: solid 1px rgb(220, 220, 220);
        }
      }

      &__name{

        &__title{
          margin-bottom: 10px;
        }
        &__description{
          margin-bottom: 20px;
        }
        &__text{
          margin-bottom: 5px;
        }
        &__fullname{
          display: flex;
          margin-bottom: 20px;

          &__familyname{
            height: 45px;
            width: 100%;
            border-radius: 5px;
            border: solid 1px rgb(220, 220, 220);
          }
          &__firstname{
            height: 45px;
            width: 100%;
            border-radius: 5px;
            border: solid 1px rgb(220, 220, 220);
          }
        }
        &__furigana{
          display: flex;
          margin-bottom: 20px;

          &__familyname{
            height: 45px;
            width: 100%;
            border-radius: 5px;
            border: solid 1px rgb(220, 220, 220);
          }
          &__firstname{
            height: 45px;
            width: 100%;
            border-radius: 5px;
            border: solid 1px rgb(220, 220, 220);
          }
        }
      }
      &__birthday{

        &__select{
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
      }

      &__submit{

        &__text{
          margin-bottom: 40px;
        }
        &__description{
          margin-bottom: 20px;
        }
      }
    }
  }

  .Footer{
    background-color: rgb(239, 239, 239);
    height: 300px;
    width: 100%;
    text-align: center;
  }
}

